version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: qa
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./migrations:/migrations

  migrate:
    build:
      context: ./migrate
    depends_on:
      - db
    volumes:
      - ./migrations:/migrations
    working_dir: /migrations

  app:
    build:
      context: .
    depends_on:
      - migrate
      - db
    ports:
      - "8080:8080"
    environment:
      DATABASE_DSN: "host=db user=postgres password=postgres dbname=qa port=5432 sslmode=disable"
    restart: on-failure

volumes:
  db-data:
